<footer>
  <div class="row">
<hr>

    <div class="medium-3 columns">
      <h6><strong>Многолетний опыт</strong></h6>
      <p>Мы имеем многолетний опыт хирургического лечения опухолей головного и спинного мозга.</p>
    </div>

    <div class="medium-4 columns">
      <h6><strong>Современное оснащение</strong></h6>
      <p>Мы оснащены самой современной аппаратурой, позволяющей качественно проводить сложные нейрохирургические операции.</p>
    </div>

    <div class="medium-5 columns">
      <h6><strong>Работаем по полису ОМС</strong></h6>
      <p>Госпитализация в наше отделение возможна по полису ОМС или ДМС, в счет федеральных квот регионов или с оплатой лечения по наличному и безналичному расчету.</p>
    </div>
  </div>
  <div class="social row">
      <div class="medium-3 columns">
        <a href="#"><img src="/images/vk.svg"> Сообщество Вконтакте</a>
      </div>
      <div class="medium-4 columns ">
        <a href="#"><img src="/images/youtube.svg"> Канал Youtube</a>
      </div>
      <div class="medium-5 columns">
        <h3 class="right"><img src="/images/phone.svg"> +7 (812) 272-98-19</h3>
      </div>

  </div>
  <div class="row bottomed">
      <!-- <hr> -->
        <div class="large-8 columns">
          <p>© При использовании наших материалов ссылка на сайт обязательна.</p>
        </div>
        <div class="large-4 small-12 columns">
          <ul class="inline-list right">
            <li><a href="/patients/geninfo/">пациентам</a>
            </li>
            <li><a href="/collegues/articles/">коллегам</a>
            </li>
            <li><a href="/contacts/maps/">контакты</a>
            </li>
          </ul>
        </div>
  </div>
  </footer>


  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>

</html>
