{% include header.html %}
  <div class="row">
	  <div class="large-10 push-1 columns">
	    {{ content }}
	  </div>
  </div> 
  <hr>
	<div class="row">
		<div class="large-10 push-1 columns">
			<ul class="small-block-grid-3">
				<li>
					<a href="http://rnsi.ru/">
						<img src="/images/rnsi.png" alt="">
					</a>
				</li>
				<li>
					<a href="http://глиома.рф/">
						<img src="/images/gliomarf.png" alt="">
					</a>
				</li>
				<li>
					<a href="http://russia.aesculap-academy.com/">
						<img src="/images/aesculap.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>

{% include footer.html %}
